::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
    
}
::-webkit-scrollbar-thumb {
  background: #75757581;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: var(--light-color-surface);
}
::-webkit-scrollbar-button {
  display: none;
}
